.register-bg {
  background-image: url("https://res.cloudinary.com/daxizvsge/image/upload/v1721610723/bg_kzuxea.jpg");
  min-height: 100vh;
  max-height: 100%;
  width: 100%;
  background-repeat: repeat-x;
  background-size: cover;
  background-attachment: fixed;
  animation-duration: 20000s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-name: slideleft;
  /*animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;*/
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
@keyframes slideleft {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 90000%;
  }
}

.registration-form {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 320px;
  height: auto;
  background-color: transparent;
  box-shadow: 0 16px 48px rgba(0, 0, 0, 0.8);
  margin: auto;
  backdrop-filter: blur(5px);
  position: relative;
  z-index: 2;
  min-height: 450px;
  max-height: auto;
}

.registration-logo {
  height: 80px;
  width: 100px;
}

.registration-form input[type="email"],
.registration-form input[type="password"],
.registration-form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.registration-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.registration-form button[type="submit"]:hover {
  background-color: #0056b3;
}

.register-error {
  font-size: 14px;
  font-family: "Roboto";
  text-align: left;
  color: red;
}

/* Responsive adjustments */
@media (max-width: 480px) {
  .registration-form {
    width: 90%;
    padding: 15px;
  }
}
